@media (min-width:700px) and (max-width:992px){
    .div-right img{
        width: 40vw;
        height: 45vh;
        margin-top: 3rem;
    }
    .div-right>:nth-child(2){
       
         top:-19rem;
        left: -9rem;
        width: 20vw ;
        height: 20vh;
        
    }
    .h-left{
        padding-top: 5rem;
    }
    .h-btn{
        left: 220px;
    }
}
@media (min-width:600px) and (max-width:700px){
    .header{
        height: 100vh;
    }
    
    .div-right img{
       
        width: 40vw;
        height: 40vh;
        margin-top: 3rem;
        
       
    }
    .div-right>:nth-child(2){
        top:-10rem;
        width: 22vw;
        height: 22vh;
        left: -8rem;
        top:-14rem;
        
        
    }
    .h-left{
        padding-top: 3rem;
    }
    .h-btn{
        left: 190px;
    }
}
@media only screen and (max-width:600px){
    header{
        flex-direction: column;
        
      
        height: 100vh;
        
    }
    .h-left{
        height: 50vh;
        width: 100vw;
       
        margin-top: -9rem;
        align-items: flex-start;
        justify-content: flex-start;
  
        
    }
    .div-right{
        
        width:100vw;
        height: 50vh;
        
       
    }
    .div-right img{
        width: 58vw;
        height: 50vh;
        top:0rem;
        margin-top: -4rem;
        margin-right: -2rem;
       
    }
    .h-left h1{
        
        width: 100vw;
        font-weight: bold;
        color: var(--main-text-color);
        
    }
    .inp-btn{
        
        width: 80vw;
      
    }
    .h-input{
        height: 3rem;
        width: 20rem;
        border-radius: 2rem;
    }
    .h-left h4{
        
        width: 100vw;
        color: var(--main-text-color);
    }
    .h-left p{
        width: 100vw;

    }
    .h-btn{
        left: 160px;
    }
    .div-right>:nth-child(2){
        top:-14rem;
        height: 25vh;
        left: -5rem;
        width: 37vw ;
        
    }

}